.canvas {
	height: 700px;
	width: 700px;
	margin: auto;
}

.baseline {
	stroke: blue;
	stroke-width: 5;
	fill: none;
}

.line {
	stroke-width: 3;
	fill: none;
}

.diagline {
	stroke: green;
	stroke-width: 3;
	fill: none;
}